/**
 * @Author: yanxinaliang (rainyxlxl@163.com)
 * @Date: 2018/12/28 11:38
 * @Last Modified by: yanxinaliang (rainyxlxl@163.com)
 * @Last Modified time: 2018/12/28 11:38
 * @disc:
 */

.ps-scroll-not-hide{
    .ps__rail-y{
        opacity: 0.4;
    }
    .ps__rail-x{
        opacity: 0.4;
    }
    &.ps--active-y{
        .ps__rail-y{
            display: block!important;
        }
    }
    &.ps--active-x{
        .ps__rail-x{
            display: block!important;
        }
    }
}

.ps__rail-x{
    z-index: 98765;
}

.ps__rail-y{
    z-index: 98765;
}


.ps-scroll-disable{
    pointer-events: none;
    .ps__rail-x{
        visibility: hidden;
    }
    .ps__rail-y{
        visibility: hidden;
    }
}