/**
  * @disc:聊天输入框
  * @author:yanxinaliang
  * @time：2018/4/10 9:16
  */

@height:48px;
@padding:0 5px;
@emotionIconSize:28px;
@inputBorderColor:#999999;
@inputBorderSize:1px;
@inputBorderActiveColor:#09ca51;

@inputSpacing:5px;
@inputHeight:40px;
@inputPadding:2px 4px;
@inputColor:#666666;
@inputFontSize:14px;
@inputBgColor:#fff;
@smallIconSize:32px;


@sendWidth:34px;
@sendHeight:34px;
@sendFontSize:14px;
@sendColor:#fff;
@sendRadius:999px;


@emotionBoxBorder:1px;
@emotionBoxWidth:296px;
@emotionBoxHeight:120px;
@emotionBgColor:#fff;
@emotionBoxBorderColor:#dcdcdc;
@emotionBarHeight:32px;
@emotionBarBgColor:#F3F3F4;
@emotionBarItemWidth:54px;
@emotionBarItemActiveBgColor:#fff;

@containerWrapMargin:16px;

@emotionItemSize:44px;

@_left:5px;

.chatbox{
    height:@height;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    padding: @padding;
    &-disabled{
        pointer-events: none;
    }
    &-emotion{
        width: @emotionIconSize;
        height: @emotionIconSize;
        background: url("../icon/emotion.png") no-repeat center;
        background-size: cover;
        position: absolute;
        left:@_left;
        top:(@height - @emotionIconSize)/2;
        cursor: pointer;
        &:hover{
            background-image: url("../icon/emotion_hover.png");
        }
        &:active{
            background-image: url("../icon/emotion_active.png");
        }
        &-container{
            position: absolute;
            bottom: @height;
            border: @emotionBoxBorder solid @emotionBoxBorderColor;
            width: @emotionBoxWidth;
            height: @emotionBoxHeight;
            left: @_left;
            background: @emotionBgColor;
            box-sizing: content-box;
            z-index: 100;
            &-packs{
                position: absolute;
                bottom: 0;
                height: @emotionBarHeight;
                background: @emotionBarBgColor;
                width: 100%;
                white-space: nowrap;
                li{
                    width: @emotionBarItemWidth;
                    height: @emotionBarHeight;
                    display: inline-block;
                    text-align: center;
                    position: relative;
                    float: left;
                    img{
                        position: absolute;
                        left: (@emotionBarItemWidth - @smallIconSize)/2;
                        top: (@emotionBarHeight - @smallIconSize)/2;
                        width: @smallIconSize;
                        height: @smallIconSize;
                    }
                    &.active{
                        background: @emotionBarItemActiveBgColor;
                    }
                }
            }
            &:after{
                display: block;
                width: 0;
                height: 0;
                border-right: 12px solid transparent;
                content: "";
                position: absolute;
                bottom: -13px;
                left: 14px;
                border-top: 12px solid #f3f3f4;
            }
            &-wrap{
                position: absolute;
                left: @containerWrapMargin;
                top: @containerWrapMargin;
                right: @containerWrapMargin;
                bottom: @containerWrapMargin;
            }
        }
        &-item{
            width: @emotionItemSize;
            height: @emotionItemSize;
            float: left;
            cursor: pointer;
            text-align: center;
            line-height: @emotionItemSize;
            position: relative;
            img{
                position: absolute;
                left: (@emotionItemSize - @smallIconSize)/2;
                top: (@emotionItemSize - @smallIconSize)/2;
                width: @smallIconSize;
                height: @smallIconSize;
            }
            &:after{
                clear: both;
            }
            &:hover{
                background: rgba(64,214,136,.2);
            }
            &:active{
                background: rgba(64,214,136,.2);
            }
        }
    }
    &-input{
        position: absolute;
        left:(@_left + @emotionIconSize + @inputSpacing);
        height: @inputHeight!important;
        top: (@height - @inputHeight)/2;
        right: (@sendWidth + @_left + @inputSpacing);
        outline: none;
        box-sizing: border-box;
        input{
            display: block;
            width: 100%!important;
            height: @inputHeight!important;
            padding: @inputPadding;
            color: @inputColor;
            font-size: @inputFontSize;
            line-height: @inputHeight;
            border: @inputBorderSize solid @inputBorderColor;
            outline: none;
            &:focus{
                border-color: @inputBorderActiveColor!important;
            }
        }
        background: @inputBgColor;
        white-space: nowrap;
        overflow: hidden;
        &-icon{
            width: @smallIconSize;
            height: @smallIconSize;
            margin: 0 1px;
            position: relative;
            top: 5px;
        }
    }
    &-send{
        width: @sendWidth;
        height: @sendHeight;
        font-size: @sendFontSize;
        color: @sendColor;
        box-sizing: border-box;
        position: absolute;
        right: @_left;
        top: ((@height - @sendHeight)/2);
        border: none;
        outline: none;
        line-height: 1;
        cursor: pointer;
        border-radius: @sendRadius;
        background-color: transparent;
    }
}